@import "../styles/colors";

.swatches {
    display:flex;
    flex:1;
    flex-flow: wrap;
}

.colorbox {

    margin:10px;
    width:200px;
    height:200px;

    &-red { background-color: $red }
    &-lust { background-color: $lust }
    &-dark_pink { background-color: $dark_pink }
    &-orange { background-color: $orange }
    &-lava { background-color: $lava }

    &-duke_blue { background-color: $duke_blue }
    &-blue_sapphire { background-color: $blue_sapphire }
    &-light_steel_blue { background-color: $light_steel_blue }
    &-light_sea_green { background-color: $light_sea_green }
    &-rackley { background-color: $rackley }

    &-pastel_orange { background-color: $pastel_orange }
    &-dark_tangerine { background-color: $dark_tangerine }
    &-daffodil { background-color: $daffodil }

    &-dark_gray { background-color: $dark_gray }
    &-dim_gray { background-color: $dim_gray }
    &-gunmetal { background-color: $gunmetal }
    &-light_gray { background-color: $light_gray }

    &-hunter_green { background-color: $hunter_green }
    &-right_black { background-color: $right_black }
    &-dark_jungle_green { background-color: $dark_jungle_green }
    &-kombu_green { background-color: $kombu_green }
    &-palm_leaf { background-color: $palm_leaf }


}
