$red: #BB0A21;
$lust: #EA2B1F;
$dark_pink: #E75A7C;
$orange: #EB4511;
$lava: #BB0A21;

$white: #FBFFF1;

$duke_blue: #090C9B;
$blue_sapphire: #19647E;
$light_steel_blue: #B4C5E4;
$light_sea_green: #28AFB0;
$rackley: #4B88A2;

$pastel_orange: #FFC145;
$dark_tangerine: #FAA916;
$daffodil: #FFFC31;

$dark_gray: #3C3744;
$dim_gray:#6D676E;
$gunmetal: #2C363F;
$light_gray: #D3D4D9;

$hunter_green: #355834;
$right_black: #0A122A;
$dark_jungle_green: #14281D;
$kombu_green: #37392E;
$palm_leaf: #698F3F;
