body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
    background-color: #222;
    line-height: 1.6em;
    font-size:1.2em;
}

.content {
    padding:1.5em;
    background-color: #fff;
}

.certificateList {
    display:flex;
    flex:1;
    flex-flow: wrap;
}