@import "../styles/colors";

.swatches {
    display:flex;
    flex:1;
    flex-flow: wrap;
}

.colorbox {

    margin:1em;
    width:10em;
    height:10em;
    font-size:0.8em;
    padding:1em;

    &-red { background-color: $red; color:$white; }
    &-lust { background-color: $lust; color:$white; }
    &-dark_pink { background-color: $dark_pink; color:$white; }
    &-orange { background-color: $orange; color:$white; }
    &-lava { background-color: $lava; color:$white; }

    &-duke_blue { background-color: $duke_blue; color:$white; }
    &-blue_sapphire { background-color: $blue_sapphire; color:$white; }
    &-light_steel_blue { background-color: $light_steel_blue }
    &-light_sea_green { background-color: $light_sea_green }
    &-rackley { background-color: $rackley; color:$white; }

    &-pastel_orange { background-color: $pastel_orange }
    &-dark_tangerine { background-color: $dark_tangerine }
    &-daffodil { background-color: $daffodil }

    &-dark_gray { background-color: $dark_gray; color:$white; }
    &-dim_gray { background-color: $dim_gray; color:$white; }
    &-gunmetal { background-color: $gunmetal; color:$white; }
    &-light_gray { background-color: $light_gray }

    &-hunter_green { background-color: $hunter_green; color:$white; }
    &-right_black { background-color: $right_black; color:$white; }
    &-dark_jungle_green { background-color: $dark_jungle_green; color:$white; }
    &-kombu_green { background-color: $kombu_green; color:$white; }
    &-palm_leaf { background-color: $palm_leaf; color:$white; }
}
