@import "../styles/_colors.scss";

.certificate {
    padding:2em;
    margin-right:2em;
    background-color: $light_gray;
    cursor: pointer;

    &-expiring {
        padding:2em;
        margin-right:2em;
        background-color: #ff0;
    }

    &-expired {
        padding:2em;
        margin-right:2em;
        background-color: #f00;
        color:white;
    }

    &:hover {
        background-color: $dim_gray;
        color:$white
    }
}