.certificate {
    padding:2em;
    margin-right:2em;
    background-color: #B4C5E4;
    cursor: pointer;

    &-expiring {
        padding:2em;
        margin-right:2em;
        background-color: #ff0;
    }

    &-expired {
        padding:2em;
        margin-right:2em;
        background-color: #f00;
        color:white;
    }

    &:hover {
        background-color: #C1CFE8;
    }
}